/* CSS files add styling rules to your content */

body {
   background-color: #ff0088;
   font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    font-size: 20px;
    
  }
  
  h1 {
    font-family: Tahoma, Geneva, sans-serif;
    color: #ffffff;
  }
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #ffffff;
    overflow: hidden;
  }
  h2 {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ff0048;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #7b00ff;
    color: rgb(255, 255, 255);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 1;
    margin: 1;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  